[Unit]
Description=Socket for sa-learn-daemon

[Socket]
ListenStream=/run/spamassassin/sa-learn.sock
SocketMode=0660
SocketUser=spamd
SocketGroup=mail

[Install]
WantedBy=sockets.target
