[Unit]
Description=Daemon to run sa-learn via socket
Requires=sa-learn.socket
After=network.target

[Service]
ExecStart=/usr/local/bin/sa_learn_daemon
User=spamd
Group=mail
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
