[Unit]
Description=Socket for sa-learn-daemon

[Socket]
ListenStream=/var/mail/run/sa-learn.sock
SocketMode=0660
SocketUser=spamd
SocketGroup=mail
DirectoryMode=0770

[Install]
WantedBy=sockets.target
